<h2><%= @story.title %></h2>
<h3><%= @story.creator %></h3>
<p><%= @story.description %></p>

<div class="links btn-group">
	<% if user_signed_in? %>
		<% if @story.user_id == current_user.id %>
			<%= link_to "Edit", edit_story_path(@story) %>
			<%= link_to "Delete", story_path(@story), method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
	<% end %>
</div>